@import "tailwindcss";
@plugin "daisyui";

.events-bg-image {
  background-image: url("../public/assets/images/events-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
